body {

background-color: rgb(94, 136, 190);

}
h1 {
color: rgb(48, 49, 146);

}

dt {

color: rgb(85, 22, 156);

}
h3 {

color: rgb(47, 28, 133);
}
a {
    color: black;
}

img {

width: 450px;
height: 450px;

}